.admin-container {
    min-width: 850px;
}

.titles{
    text-decoration: underline;
    color: navy;
}

.header{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: navy;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.header span {
    padding: 10px;
    font-size: 20px;
    border: solid black 1px;
    border-radius: 10px;
}

.header span:hover {
    cursor: pointer;
}

.submit-button:hover{
    background-color: green;
    
}

.delete-button:hover{
   background-color: red;
}

.userMessage{
    color: red;
    font-weight: bold;
    font-size: large;
}

#products-container {
    display: initial;
}

#create-container {
    display: none;
}

#edit-container {
    display: none;
}

#delete-container {
    display: none;
}

#users-container {
    display: none;
}


