.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  position: sticky;
  top: 0px;
  background-color: lightgoldenrodyellow;
}

nav > * {
  padding: 10px;
}

footer {
  display: none;
  position: fixed;
  bottom: 0px;
  background-color: lightgoldenrodyellow;
  width: 100%;
  text-align: center;
}
