.purchaseButton:hover{
    background-color: green;
}

.purchaseButton{
    margin-top: 20px;
    padding: 10px 25px;
}

label{
    margin-right: 10px;
}

input{
    margin-top: 5px;
    margin-bottom: 5px;
}

.address{
    margin-top: 10px;
}