.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product {
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
    margin: 10px;
}

.product-info {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.product-image {
    display: flex;
    width: 100%;
    justify-content: center;
}

.product img {
    width: 200px;
    height: auto;
}

.product-buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 5px;
}

.add-to-cart img {
    width: 30px;
}

.single-product-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single-product-info p {
    width: 75%;
}

.single-product-image {
    display: flex;
    justify-content: center;
}

.single-product-image img {
    width: 350px;
    height: auto;
}



